!!! 5
%html
  %head
    %title Test Driving Underscore.js :)  
    %link{:href => "css/global.css", :rel => "stylesheet"}
    %script{:src => "js/jquery-2.0.3.min.js"}
    %script{:src => "js/underscore.js"}
    %script{:src => "js/app.js"}
  %body
    %header
      %h1 This is my h1 in a div
      %h1 James was here 
    %section
      %article
        %header
          %h2 This is my sub-header inside article
          %h2#james This is james :) 
